body,div,ul,ol,li,dl,dd,dt,h1,h2,h3,h4,h5,h6,p,input,form,a,textarea{
    margin: 0;
    padding: 0;
    font-family: 黑体,sans-serif ,Microsoft YaHei UI ;

}
img{
    display: block;
    border:none;

}
ul,ol,li{
    list-style: none;
}
a{
    display: block;
    text-decoration: none;
}
/*清除浮动*/
.clearfloat {
    zoom:1
}
.clearfloat:after{
    content:"";
    display: block;
    height: 0;
    width: 0;
    clear: both;
    visibility: hidden;


}